body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-y: hidden;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.9;
}

input[type=submit]:hover {
    opacity: 1;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    body {
        padding: 0 20px;
    }

    form {
        width: 100%;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#message {
    color: red;
    z-index: 9999;
    padding: 10px;
    text-align: center;
    width: 70%;
}

#loginButton {
    margin-block-start: 1vh;
    background-color: #1498fd;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  
  #signUpButton {
    margin-block-start: 1vh;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  
  #loginButton:hover, #signUpButton:hover {
    opacity: 1;
  }
  
